@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600;700&family=Poppins:wght@700&family=Sometype+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Inter', sans-serif;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(0, 0%, 94%);
    font-family: 'Poppins', sans-serif;
}

main {
    width: 940px;
    min-height: 100vh;
    background-color: hsl(0, 0%, 94%);
    margin: 0 auto;
    padding-top: 250px;
}

.container {
    max-width: 70%;
    background-color:hsl(0, 0%, 100%);
    margin: 0 auto;
    border-radius: 15px 15px 50px 15px;
    padding: 30px;
}
.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
}


.input-container input {
    width: 120px;
    border-radius: 5px;
    padding: 15px;
    padding-left: 15px;
    border: 1px solid hsl(0, 0%, 71%);
    font-size: 22px;
    text-align: left;
    font-weight: bold;
    color: rgb(48, 47, 47);
   
}
form {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.input-boxes {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1.5rem;
    width: 85%;
    height: 100%;
    
}

.label {
    font-weight: 700;
    color: hsl(0, 1%, 44%);
    font-size: .7rem;
    letter-spacing: .1rem;
    padding-bottom: 5px;
}

.button-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.H-line-container {
    display: flex;
    align-items: center;
    width: 90%;


}

.H-line {
    border-top: 1px solid hsl(0, 1%, 44%,.5);
    width:100%;
}
.submit-btn {
    height: 70px;
    width: 70px;
    right: 0;
    border-radius: 50%;
    border-width: 0;
    background-color: blueviolet;
    background-image: url(/assets/images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

input:focus {
    border: 1px solid blueviolet;
    outline:none;
}

.submit-btn:hover {
    background-color: black;
}

input::placeholder{
    color: black;
    opacity: 0.4;
    font-weight:bold;

}

img {
    width: 100%;
}

/* Display Results  */

.display-result{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 30px;

}
.result {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 1rem ;
}

.result h1 {
    font-weight: bold;
    font-size: 70px;
    margin-left: 21%;
  
}

.result h2 {
    font-size: 70px;
    width: 20px;
    padding-right: 40px;
    color: blueviolet;
    font-weight: 1000;
}

@media screen and (max-width:600px) {
    body {
        width: 700;
        min-height: 100vh;
        background-color: hsl(0, 0%, 94%);
    }

    main {
        background-color: aquamarine;
        width:600px;
        padding-top: 100px;
        margin: 0 auto;
    }
    .container {
        display: flex;
        flex-direction: column;
        max-width: 75%;
        /* background-color:hsl(0, 0%, 100%); */
        background-color: antiquewhite;
        border-radius: 15px 15px 70px 15px;
        margin-left: 20px;
        padding: 1rem;
        margin: 100px auto;
        gap: 1.5rem;
        
    }

    form {
        max-width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .input-boxes {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        width: 100%;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        width: 120px;
    }

    .input-container input {
        max-width: 100px;
        border-radius: 5px;
        padding: 15px;
        padding-left: 15px;
        border: 1px solid hsl(0, 0%, 71%);
        font-size: 22px;
        text-align: left;
        font-weight: bold;
        color: rgb(48, 47, 47);
       
    }

    .submit-btn {
        height: 60px;
        width: 60px;
        border-radius: 50px;
        border-width: 0;
        margin: 0 auto;
        background-color: blueviolet;
    }

    .button-container {
        background-color: black;
        width: 50%;
        margin-left: 50px;
        margin-top: 100px;
        padding-bottom: 40px;
        background-color: transparent;
        position: absolute;
    
    
    }

    .display-result{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding-top: 70px;
    }

    .result h1 {
        font-family: Verdana, sans-serif;
        font-weight: bold;
        font-size: 50px;
      
    }
    
    .result h2 {
        font-size: 60px;
        padding-right: 20px;
        color: blueviolet;
    }

}

